**

!package.json
!bun.lock

!packages/
!packages/admin/
!packages/admin/package.json
!packages/agent/
!packages/agent/**
!packages/client/
!packages/client/package.json
!packages/contracts/
!packages/contracts/package.json
!packages/contracts/abis/
!packages/contracts/abis/**
!packages/contracts/deployments/
!packages/contracts/deployments/**
!packages/indexer/
!packages/indexer/package.json
!packages/shared/
!packages/shared/package.json
!packages/shared/src/
!packages/shared/src/**

!docs/
!docs/package.json
!scripts/
!scripts/**
