[submodule "packages/contracts/lib/tokenbound"]
	path = packages/contracts/lib/tokenbound
	url = https://github.com/tokenbound/contracts
[submodule "packages/contracts/lib/kernel"]
	path = packages/contracts/lib/kernel
	url = https://github.com/zerodevapp/kernel
