@import 'tailwindcss';
@import './styles/colors.css';
@import './styles/typography.css';
@import './styles/utilities.css';

:root {
  @apply text-slate-800;
  color-scheme: light dark;
  background-color: #fff;

  scrollbar-width: none;
  -ms-overflow-style: none; /* IE and Edge */

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-synthesis: none;
  font-optical-sizing: auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply m-0 w-screen h-screen bg-white dark:bg-white text-slate-900;
}

#root {
  @apply w-full h-full max-w-(--breakpoint-xl) mx-auto flex flex-col;
}

main {
  @apply px-4 sm:px-6 md:px-12;
}

::-webkit-scrollbar {
  display: none;
}

ul::-webkit-scrollbar {
  display: none;
}

div::-webkit-scrollbar {
  display: none;
}

/*
  Components
*/
.loader {
  position: absolute;
  opacity: 0.27;
  animation: dot-fade 1s infinite;
  @apply w-4;
  @apply h-4;
  @apply rounded-full;
}

@keyframes dot-fade {
  0%,
  50%,
  100% {
    opacity: 0.27;
  }
  25% {
    opacity: 1;
  }
}