[profile.default]
solc = "0.8.25"
ffi = true
auto_detect_solc = false
block_timestamp = 1_680_220_800 # March 31, 2023 at 00:00 GMT
bytecode_hash = "none"
evm_version = "shanghai"
fuzz = { runs = 1_000 }
gas_reports = ["*"]
optimizer = true
optimizer_runs = 200
verbosity = 2
libs = ['lib']
out = 'out'
script = "script"
src = 'src'
test = 'test'
via_ir = true
fs_permissions = [
  { access = "read-write", path = "./" }
]

[profile.ci]
  fuzz = { runs = 10_000 }
  verbosity = 4

[etherscan]
  arbitrum = { key = "${ETHERSCAN_API_KEY}", url = "https://api.etherscan.io/v2/api", chainId = "42161" }
  baseSepolia = { key = "${ETHERSCAN_API_KEY}", url = "https://api.etherscan.io/v2/api", chainId = "84532" }
  celo = { key = "${ETHERSCAN_API_KEY}", url = "https://api.etherscan.io/v2/api", chainId = "42220" }

[fmt]
  bracket_spacing = true
  int_types = "long"
  line_length = 124
  multiline_func_header = "all"
  number_underscore = "thousands"
  quote_style = "double"
  tab_width = 4
  wrap_comments = true

extra_output_files = [
  "abi",
  "evm.bytecode"
]

# RPC endpoints for different networks
[rpc_endpoints]
localhost = "http://localhost:8545"
arbitrum = "${ARBITRUM_RPC_URL}"
baseSepolia = "${BASE_SEPOLIA_RPC_URL}"
celo = "${CELO_RPC_URL}"

# Network-specific profiles
[profile.local]
eth_rpc_url = "http://localhost:8545"

[profile.arbitrum]
eth_rpc_url = "${ARBITRUM_RPC_URL}"

[profile.baseSepolia]
eth_rpc_url = "${BASE_SEPOLIA_RPC_URL}"

[profile.celo]
eth_rpc_url = "${CELO_RPC_URL}"

# See more config options https://github.com/foundry-rs/foundry/tree/master/config