[profile.default]
solc = '0.8.21'
ffi = false
fuzz_runs = 256
optimizer = true
optimizer_runs = 3000
verbosity = 2
src = 'src'
test = 'test'
out = 'out'
libs = ['lib']
allow_paths = [
  # pnpm symlinks to the project root's node_modules
  "../../node_modules",
]
extra_output_files = [
  "abi",
  "evm.bytecode"
]
fs_permissions = [{ access = "read", path = "./"}]
eth_rpc_url = "http://localhost:8545"

[profile.base]
eth_rpc_url = "https://mainnet.base.org"

[profile.base-sepolia]
eth_rpc_url = "https://sepolia.base.org/"

# See more config options https://github.com/foundry-rs/foundry/tree/master/config