@import "tailwindcss";

@theme {
  --animate-dot-fade: dot-fade 1s ease-in-out infinite;
  @keyframes dot-fade {
    0%,
    50%,
    100% {
      opacity: 0.27;
    }
    25% {
      opacity: 1;
    }
  }

  --animate-accordion-up: accordion-up 0.2s ease-out;
  @keyframes accordion-down {
    from {
      height: 0;
      filter: blur(2px) contrast(6);
    }
    20% {
      filter: blur(0px) contrast(1);
    }
    to {
      height: var(--radix-accordion-content-height);
      filter: blur(0px) contrast(1);
    }
  }

  --animate-accordion-down: accordion-down 0.2s ease-out;
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
      filter: blur(0px) contrast(1);
    }
    20% {
      filter: blur(0px) contrast(1);
    }
    to {
      height: 0;
      filter: blur(2px) contrast(6);
    }
  }

  --animate-spring-bump: spring-bump 0.56s ease-in-out;
  @keyframes spring-bump {
    from {
      transform: scale(0.8);
    }
    60% {
      transform: scale(1.1);
    }
    70% {
      transform: scale(0.95);
    }
    to {
      transform: scale(1);
    }
  }
}

.loader {
  position: absolute;
  opacity: 0.27;
  animation: dot-fade 1s infinite;
  @apply w-4;
  @apply h-4;
  @apply rounded-full;
}


.upload-spinner {
  border-bottom-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotation 3s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes slideDownBounce {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(100%);
  }
}

@keyframes slideUpBounce {
  0% {
    transform: translateY(100%);
  }
  20% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-slideDownBounce {
  animation: slideDownBounce 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
}

.animate-slideUpBounce {
  animation: slideUpBounce 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
}
