@import "tailwindcss";

:root {
  --color-header-text: #254d31;
}

:root[data-theme="dark"] {
  --color-header-text: rgb(var(--green-200));
}

@layer base {
  :where(h1, h2, h3, h4, h5, h6) {
    color: var(--color-header-text);
  }

  :where(a) {
    color: rgb(var(--primary-base));
    text-decoration: none;
  }

  :where(img) {
    max-width: 100%;
    height: auto;
  }
}

@layer utilities {
  .small {
    @apply text-paragraph-sm;
  }

  .extra-small {
    @apply text-paragraph-xs;
  }
}
