@import 'tailwindcss';

@layer utilities {

  .image-lut {
    @apply contrast-110 brightness-105 saturate-150;
  }
  /* Custom Shadow Utilities */
  .shadow-regular-xs {
    box-shadow: 0 1px 2px 0 rgba(10, 13, 20, 0.03);
  }
  .shadow-regular-sm {
    box-shadow: 0 2px 4px rgba(27, 28, 29, 0.04);
  }
  .shadow-regular-md {
    box-shadow: 0 16px 32px -12px rgba(14, 18, 27, 0.1);
  }
  .shadow-button-primary-focus {
    box-shadow:
      0 0 0 2px white,
      0 0 0 4px rgba(var(--color-primary), 0.1);
  }
  .shadow-button-important-focus {
    box-shadow:
      0 0 0 2px white,
      0 0 0 4px rgba(var(--color-neutral), 0.16);
  }
  .shadow-button-error-focus {
    box-shadow:
      0 0 0 2px white,
      0 0 0 4px rgba(var(--color-red), 0.1);
  }
  .shadow-fancy-buttons-neutral {
    box-shadow:
      0 1px 2px 0 rgba(27, 28, 29, 0.48),
      0 0 0 1px #242628;
  }
  .shadow-fancy-buttons-primary {
    box-shadow:
      0 1px 2px 0 rgba(14, 18, 27, 0.24),
      0 0 0 1px var(--color-primary);
  }
  .shadow-fancy-buttons-error {
    box-shadow:
      0 1px 2px 0 rgba(14, 18, 27, 0.24),
      0 0 0 1px var(--color-error);
  }
  .shadow-fancy-buttons-stroke {
    box-shadow:
      0 1px 3px 0 rgba(14, 18, 27, 0.12),
      0 0 0 1px var(--color-stroke-soft-200);
  }
  .shadow-toggle-switch {
    box-shadow:
      0 6px 10px 0 rgba(14, 18, 27, 0.06),
      0 2px 4px 0 rgba(14, 18, 27, 0.03);
  }
  .shadow-switch-thumb {
    box-shadow:
      0 4px 8px 0 rgba(27, 28, 29, 0.06),
      0 2px 4px 0 rgba(14, 18, 27, 0.08);
  }
  .shadow-tooltip {
    box-shadow:
      0 12px 24px 0 rgba(14, 18, 27, 0.06),
      0 1px 2px 0 rgba(14, 18, 27, 0.03);
  }

  /* Custom Border Radius Utilities */
  .rounded-10 {
    border-radius: 0.625rem;
  }
  .rounded-20 {
    border-radius: 1.25rem;
  }

  .noscroll {
    overflow: auto; /* Allow scrolling */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
  }

  h1 {
    @apply text-title-h1 text-foreground;
  }
  
  h2 {
    @apply text-title-h2 text-foreground;
  }
  
  h3 {
    @apply text-title-h3 text-foreground;
  }
  
  h4 {
    @apply text-title-h4 text-foreground;
  }
  
  h5 {
    @apply text-title-h5 text-foreground;
  }
  
  h6 {
    @apply text-title-h6 text-foreground;
  }
  
  label {
    @apply text-label-md;
  }
  
  a {
    @apply text-label-md;
    text-decoration: inherit;
  }
  
  /* Additional utility classes */
  .small {
    @apply text-paragraph-sm;
  }
  
  .extra-small {
    @apply text-paragraph-xs;
  }
  
}
