name: Green Goods
description: Green Goods Indexer
contracts:
  - name: ActionRegistry
    abi_file_path: abis/ActionRegistry.json
    handler: src/EventHandlers.ts
    events:
      - event: ActionRegistered
      - event: ActionStartTimeUpdated
      - event: ActionEndTimeUpdated
      - event: ActionTitleUpdated
      - event: ActionInstructionsUpdated
      - event: ActionMediaUpdated
  - name: GardenToken
    abi_file_path: abis/GardenToken.json
    handler: src/EventHandlers.ts
    events:
      - event: GardenMinted
  - name: GardenAccount
    abi_file_path: abis/GardenAccount.json
    handler: src/EventHandlers.ts
    events:
      - event: NameUpdated
      - event: DescriptionUpdated
      - event: GardenerAdded
      - event: GardenerRemoved
      - event: GardenOperatorAdded
      - event: GardenOperatorRemoved
      - event: InviteCreated
      - event: InviteUsed
      - event: InviteRevoked
      - event: GAPProjectCreated
networks:
  - id: 84532
    start_block: 15000000
    contracts:
      - name: ActionRegistry
        address: '0x5FdBce1F6eb68940A1FD0c95c935Db7aa9462c89'
      - name: GardenToken
        address: '0x829c50D3557CAa2E930D40Fbb34B5f35d5368e78'
      - name: GardenAccount
        address: '0x6dd675a46bac69f43B1e6d438676E04746c76d2d'
