name: Green Goods
description: Green Goods Indexer
contracts:
  - name: ActionRegistry
    handler: src/EventHandlers.ts
    events:
      - event: ActionRegistered(address owner, uint256 indexed actionUID, uint256 indexed startTime, uint256 indexed endTime, string title, string instructions, uint8[] capitals, string[] media)
      - event: ActionStartTimeUpdated(address indexed owner, uint256 indexed actionUID, uint256 indexed startTime)
      - event: ActionEndTimeUpdated(address indexed owner, uint256 indexed actionUID, uint256 indexed endTime)
      - event: ActionTitleUpdated(address indexed owner, uint256 indexed actionUID, string indexed title)
      - event: ActionInstructionsUpdated(address indexed owner, uint256 indexed actionUID, string indexed instructions)
      - event: ActionMediaUpdated(address indexed owner, uint256 indexed actionUID, string[] indexed media)
  - name: GardenToken
    handler: src/EventHandlers.ts
    events:
      - event: GardenMinted(uint256 indexed tokenId, address indexed account, string name, string description, string location, string bannerImage, address[] gardeners, address[] gardenOperators)
  - name: GardenAccount
    handler: src/EventHandlers.ts
    events:
      - event: NameUpdated(address indexed updater, string newName)
      - event: DescriptionUpdated(address indexed updater, string newDescription)
      - event: GardenerAdded(address indexed updater, address indexed gardener)
      - event: GardenerRemoved(address indexed updater, address indexed gardener)
      - event: GardenOperatorAdded(address indexed updater, address indexed operator)
      - event: GardenOperatorRemoved(address indexed updater, address indexed operator)
      - event: GAPProjectCreated(bytes32 indexed projectUID, address indexed gardenAddress, string projectName)
  - name: ENSRegistrar
    handler: src/EventHandlers.ts
    events:
      - event: SubdomainRegistered(string indexed name, address indexed owner, bytes32 indexed credentialId, uint256 timestamp)
  - name: Gardener
    handler: src/EventHandlers.ts
    events:
      - event: AccountDeployed(address indexed account, address indexed owner, uint256 timestamp)
networks:
  - id: 84532
    start_block: 0
    contracts:
      - name: ActionRegistry
        address: "0x9685E9E5430C13AFF7ef32D9E8fc93d516e121E0"
      - name: GardenToken
        address: "0x0B0EA0FfB996B0b04335507Ef1523124480f7310"
      - name: GardenAccount
        address: "0x14353dD1B89618127B55fAd16d70450f54F3E67D"
  - id: 42220
    start_block: 0
    contracts:
      - name: ActionRegistry
        address: "0x0747ED4f1915b8f3A6eA8a9d8216E8F53EE80f92"
      - name: GardenToken
        address: "0xDcA639287A392E17cad0deA4E72F5B3cfA429e6B"
      - name: GardenAccount
        address: "0x3B4A3ACA9D52b01086F625a0EB6E6e24b65C810D"
  - id: 42161
    start_block: 0
    contracts:
      - name: ActionRegistry
        address: "0xB1DD51F5809BddC9146dA833b53C49e5Ff75B8d4"
      - name: GardenToken
        address: "0xB34e21BB86E0674d1b3d2d2Ae7a8C960a61Ec31f"
      - name: GardenAccount
        address: "0x121A372fdaB663dC6e05aaA6423bB517c8b8a8AE"
  - id: 1
    start_block: 0
    contracts:
      - name: ENSRegistrar
        address: "0x0000000000000000000000000000000000000000"
