name: Green Goods
description: Green Goods Indexer
contracts:
  - name: ActionRegistry
    abi_file_path: abis/ActionRegistry.json
    handler: src/EventHandlers.ts
    events:
      - event: ActionRegistered
      - event: ActionStartTimeUpdated
      - event: ActionEndTimeUpdated
      - event: ActionTitleUpdated
      - event: ActionInstructionsUpdated
      - event: ActionMediaUpdated
  - name: GardenToken
    abi_file_path: abis/GardenToken.json
    handler: src/EventHandlers.ts
    events:
      - event: GardenMinted
  - name: GardenAccount
    abi_file_path: abis/GardenAccount.json
    handler: src/EventHandlers.ts
    events:
      - event: NameUpdated
      - event: DescriptionUpdated
      - event: GardenerAdded
      - event: GardenerRemoved
      - event: GardenOperatorAdded
      - event: GardenOperatorRemoved
networks:
  - id: 42161
    start_block: 242630858
    contracts:
      - name: ActionRegistry
        address: "0x933b88Ef33a25d14a68354C88b2eb31e475cd482"
      - name: GardenToken
        address: "0x508198C3f071987D5eEb0030825628F9B10c6037"
  - id: 42220
    start_block: 40293303
    contracts:
      - name: ActionRegistry
        address: "0x547e82BF9c8496f41927583793242f6b91C182A6"
      - name: GardenToken
        address: "0xE73e86787dDC94b98f6d0327124D18341C527e1f"
  - id: 84532
    start_block: 28278599
    contracts:
      - name: ActionRegistry
        address: "0x547e82BF9c8496f41927583793242f6b91C182A6"
      - name: GardenToken
        address: "0x19f367E448208377dA8C81E770bC6777c7815516"
  # WARNING: DO NOT UNCOMMENT THE LOCAL CHAIN CONFIG BELOW!
  # The indexer cannot sync properly with multiple networks if localhost is enabled.
  # Use the deployment scripts to manage this configuration automatically.
  # - id: 31337
  #   start_block: 1000
  #   rpc_config:
  #     url: http://localhost:8545
  #   contracts:
  #     - name: ActionRegistry
  #       address: '0x547e82BF9c8496f41927583793242f6b91C182A6'
  #     - name: GardenToken
  #       address: '0x547e82BF9c8496f41927583793242f6b91C182A6'
  #     - name: GardenAccount
  #       address: '0x547e82BF9c8496f41927583793242f6b91C182A6'
